body{
    margin: 0;
    background-color: #f2f2f2f2;
}

header{
    text-align: center;
    background-color: #ECF0F1;
    font-family: 'ArcadeClassic', sans-serif;                                        
}

.header{
    height: 3.5px;
    background-color: #D35400;
    width: 90%;
}

.logo{
    font-size: 45px;
    padding: 10px;
    color: black ;
}

.topnav {
    justify-content: center;
    background-color: #ECF0F1;
    overflow: hidden;
    width: 100%;
    display: flex;
}

.topnav a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    margin-left: 20px;
    padding: 17px 16px;
    text-decoration: none;
    font-size: 22px;
}

.active{
    color: #ccc;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.topnav a:hover {
    color: #ccc;
    transition: 0.2s;
}

#form{
    color: black;
    margin: auto;
    width: 40%;
    max-width: 400px;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 1em 2em;
    border-radius: 15px;
    background: transparent;
    border: 3px solid rgb(0, 0, 0);
}


.form-title{
    font-size: 2em;
}

.texto{
    font-size: 17px;
    padding-right: 130px;
}

.form-container{
    margin-top: 2em;
    gap: 2.5em;
}

.form-group{
    position: relative;
    color: black;
}

.form-title{
    color: black;
}

.form-input{
    border-radius: 8px;
    height: 35px;
    width: 100%;
    background: none;
    background-color: #ffff;
}

.form-submit{
    font-weight: bold;
    background-color: #fffcfc;
    height: 28px;
    width: 20%;
}

.form-submit:hover{
    color: white;
    background-color: #4b4a4a;
    transition: 0.5s;
    cursor: pointer;
}

footer{
    padding-top: 66px;
    background-color: #212F3C;
    color: white;
    height: 200px;
}

footer .text-footer{
    text-align: center;
}

footer .text-footer h3{
    font-size: 20px;
    padding-left: 20px;
}

footer .text-footer a{
    font-size: 24px;
    padding-left: 28px;
    text-decoration: none;
    color: #c1c1c1;
}

footer .text-footer p{
    font-size: 18px;
    padding-left: 25px;
}

footer .redes a{
    text-decoration: none;
    color: white;
    margin: 6px;
}

footer .redes{
    text-align: center;
    font-size: 35px;
}

.text-footer a:hover{
    color: #85929E;
}

.redes a:hover{
    color: #85929E;
    cursor: pointer;
}

@media screen and (max-width: 700px){
    #form{
        background-color: black;
        margin: auto;
        width: 50%;
        max-width: 400px;
        margin-top: 50px;
        margin-bottom: 50px;
        padding: 1em 2em;
        border-radius: 15px;
        background: transparent;
        border: 3px solid black;
        color: black;
    }
    
    
    .form-title{
        font-size: 28px;
    }
    
    .texto{
        font-size: 17px;
        padding-right: 130px;
    }
    
    .form-container{
        margin-top: 2em;
        gap: 2.5em;
    }
    
    .form-group{
        position: relative;
        color: black;
    }
    
    .form-input{
        border-radius: 8px;
        height: 35px;
        width: 100%;
        background: none;
        background-color: #F0F3F4;
    }
    
    .form-submit{
        font-weight: bolder;
        color: black;
        background-color: #F0F3F4;
        height: 30px;
        width: 20%;
    }

    .form-submit:hover{
        color: white;
        background-color: #4b4a4a;
        transition: 0.5s;
        cursor: pointer;
    }
}


@media screen and (max-width: 553px){

    .logo{
        font-size: 45px;
        padding: 10px;
        color: black ;
    }
    
    .topnav a {
        float: left;
        display: block;
        color: black;
        text-align: center;
        margin-left: 15px;
        padding: 17px 16px;
        text-decoration: none;
        font-size: 19px;
    }

    #form{
        background-color: black;
        margin: auto;
        width: 78%;
        max-width: 400px;
        margin-top: 50px;
        margin-bottom: 50px;
        padding: 1em 2em;
        border-radius: 15px;
        background: transparent;
        border: 3px solid black;
        color: black;
    }
    
    
    .form-title{
        font-size: 28px;
    }
    
    
    .form-container{
        margin-top: 2.2em;
        gap: 2em;
    }
    
    .form-group{
        position: relative;
        color: black;
    }
    
    .form-input{
        border-radius: 8px;
        height: 28px;
        width: 100%;
        background: none;
        background-color: #F0F3F4;
    }
    
    .form-submit{
        font-weight: bolder;
        color: black;
        background-color: #F0F3F4;
        height: 30px;
        width: 30%;
    }

    .form-submit:hover{
        color: white;
        background-color: #4b4a4a;
        transition: 0.5s;
        cursor: pointer;
    }
    
    /* Pie de pagina*/
    footer{
        background-color: #111;
        margin: 0;
        padding-bottom: 1px;
    }
    
    .footer-conteiner{
        padding: 70px 30px 20px;
    }

    footer{
        padding-top: 66px;
        background-color: #212F3C;
        color: white;
        height: 223px;
    }

    footer .text-footer h3{
        font-size: 17px;
        padding-left: 8px;
    }

    footer .text-footer a{
        font-size: 23px;
        padding-left: 10px;
        text-decoration: none;
        color: #c1c1c1;
    }

    footer .text-footer p{
        font-size: 15px;
        padding-left: 10px;
    }

}
